/* Extracted core styles from Vue App.vue for layout */
.ad {
  display: flex;
  align-items: center;
  padding: .365625rem 1.25rem;
  font-size: .875rem;
  line-height: 1.4;
  border: 1px solid #eaeaea;
  position: relative;
  text-align: center;
  justify-content: center;
  border-color: #666;
  background-color: #666;
  color: #fff;
}

#app { height: 100%; }
.canvas { position: absolute; left: 0; top: 0; }
#svg-wrapper rect { pointer-events: all; }
#svg-wrapper svg:first-child rect:hover { fill: rgba(0, 0, 0, 0.08) }
.page { position: relative; height: 100%; display: flex; }
.controls { width: 100%; margin-bottom: 130px; }
.controls-wrapper { max-height: 100vh; overflow: scroll; }
.button { position: absolute; bottom: 0; width: 100%; text-align: center; }
.reveal { display: block; height: 15px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(47, 47, 47) 100%); }
.paper { background-color: #dedede; position: relative; max-height: 100vh; width: calc(100% - 300px); overflow: scroll; z-index: 1; }
.sketch { padding: 10px; position: relative; }
#svg-wrapper { position: relative; display: inline-block; border: 1px dashed #000; }
.sidebar { z-index: 10; width: 300px; position: relative; }
.footer-wrapper { z-index: 1000; position: absolute; bottom: 0; right: 0; color: #2D2D2D; }
.footer { padding: 15px 15px 0 15px; text-align: right; }
@media (max-width: 767px) {
  .page { flex-direction: column; }
  .controls-wrapper { max-height: none; }
  .sidebar { width: 100%; }
  .paper { min-height: 100%; width: 100%; max-height: none; }
  .footer-wrapper { position: relative; background-color: #CCC; }
}
